
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 1fr ;
    grid-template-rows: auto auto;

    padding: 50px;
}
.grid-item {
    height: 250px;
    background-color: white;
    border: 0 solid rgba(0, 0, 0, 0);
    padding: 0;
    margin: 15px;
    overflow: hidden;
    color: black;
    text-align: center;
    border-radius:  1px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    animation-name: example;
    animation-duration: 700ms;

}
.grid-item:hover{
    background-color: whitesmoke;
    cursor: pointer;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    elevation: higher;


}

.item-header{
    width: 100%;
    height: 80px;
    background-color: #4e83d0;
    border: 1px solid  #4e83d0;
    line-height: 80px;

}

.item-body{
    padding: 15px;
}

.item-body h5 {
    font-weight: bolder;
}

.item-body p {

    text-align: left;
}

.logo {
    border-radius: 40px;
    background-color: white;
    border: 1px solid cornflowerblue;

}





@keyframes example {
  from {
      position: absolute;
      bottom: 0%;
      height: 5px;

      background-color: white;
      color: cornflowerblue;
  }
  to {background-color: white;}
}