{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'hosting/base_base.css' %}" type="text/css">
    {% block style %} {% endblock %}
</head>

<body id="body">

<div class="contenu">
{% block content %} {% endblock %}
</div>
<div class="footer">
    <p>Powered by microIsce</p>
</div>
</body>
</html>