


.form-row-free {
    padding: 10px;
    float: left;
    width: 95%;
    margin: auto;

    border-bottom: none;
}




.form-row1-free h6 {
    line-height: 2em;
    margin: 15px 0 0 0;
    font-weight: bolder;
}

.form-row {
    padding: 10px;
    float: left;
    width: 95%;
    margin: auto;

    border-bottom: none;
}
.form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #333;
    font-weight: bold;
    font-family: Roboto, sans-serif, monospace;
}

.form-row #id_username,  .form-row #id_password,
.form-row #id_first_name, .form-row #id_email,
.form-row #id_domain,

.form-row #id_password_confirm {

    clear: both;
    padding: 5px;
    font-size: 13px;
    margin:  0;
    font-family: Roboto, sans-serif, monospace;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    height: 2.5em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

}


 span.help {
    font-size: 10px;
    display: block;
}



#formulaire, #formulaire-free {
    background-color: white;
    margin: auto;
    padding: 0 0 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    box-shadow: 0 0 16px  rgba(0, 0, 0, 0.2)
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}


#line-blue {
    background-color: #3875d7;
    width: 100%;
    height: 5px;
}

.form-row-single-line {
    padding: 0;
    float: left;
    width: 95%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 3em;
    font-weight: bold;

    border: 0 solid #5a5a5a;
}


.form-row-single-line label {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: start;
    align-self: center;
    font-size: 0.8em;
    line-height: 2em;
    margin: 0 0 0 5px;
    text-align: start;

    clear: both;
    color: #333;
    font-family: Roboto, sans-serif, monospace;
}


.form-row-single-line #id_username,  .form-row-single-line #id_password,
.form-row-single-line #id_first_name, .form-row-single-line #id_email,
.form-row-single-line #id_domain,
.form-row-single-line #id_fichier,
.form-row-single-line #id_password_confirm {

    clear: both;
    padding: 5px;
    font-size: 13px;
    margin-right: 10px;
    align-self: center;
    font-family: Roboto, sans-serif, monospace;
    flex: 1;
    width: 100%;
    border: 1px solid black;
    border-radius: 0;
    height: 2.5em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

}

.free #id_fichier, .free #id_domain{
    flex:2
}

.form-row1 {
    padding: 0 0 0 0 ;
    font-family: Roboto, sans-serif, monospace;

    width: 100%;
    margin: 0 ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2em;
    line-height: 2em;
    color: black;
    text-align: center;
    /*background-color: #3875d7;*/
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}
.form-row1 h6 {
    line-height: 2em;
    margin: 5px 0 0 0;
    font-weight: bolder;
}

.block {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


@keyframes example {
  from {
      position: absolute;
      bottom: 0;
      height: 5px;

      background-color: white;

  }
  to {
      background-color: cornflowerblue;
  }
}

#submit-btn{
    align-self: flex-end;

    height: 2em;
    width: 120px;
    margin-right: 25px;

    font-family: Roboto, sans-serif, monospace;

    border: 1px solid #3875d7;
    border-radius: 2px;
    padding: 5px;

}

input[type="submit"] {
    background-color: white;
    color: #4e83d0;
    padding: 10px 25px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}

input[type="submit"]:hover {
    color: white;
    background-color: #3875d7;
}

#hint {
    font-weight: lighter;
    margin: 20px;
    font-size: 13px;
}

.error-messages {
    color: red;
    font-size: small;
    font-style: italic;
    font-weight: bold;
}