

.header {
    background-color: #3875d7;
    padding: 15px;
    color: white;
    width: 100%;
    margin-right: 0;
}

.contenu{
    width: 100%;
    float: left;
}

.footer {
    background-color: #3875d7;
    padding: 15px;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    margin:0
}
#body {
    background-color: whitesmoke;
    padding-right: 0;

}