
html, body
{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}



.header {
    background-color: #3875d7;
    padding: 15px;
    color: white;
    width: 100%;
    margin-right: 0;
}

.content-pers {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.box {
		text-align: center;
		color: white;
		font-family: sans-serif;
		font-size: 36px;
		padding: 20px;

		display: flex;
		flex-direction: column;
        justify-content: center;
}

.box-1 {
    background-color: #3875d7;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.box-2 {
		background-color: whitesmoke;
		flex: 1;
        display: flex;
        flex-direction: row;
        padding: 0;
        overflow: scroll;
}

.box-3 {
		background-color: red;
		height: 60px;
}




