

p{
    font-weight: bold;
    color: black;
}

#menu{

    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    width: 20%;
    border-right: 1px  solid #a9a9a9;

}

.menu-item{
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    color: #3875d7;
    padding:  0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    

    /*border-top: 1px solid #3875d7;*/
}

.menu-item:hover{
    width: 100%;
    height: 60px;
    background-color: #3875d7;
    color: white;
    padding:  0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;

    cursor: pointer;
}


#dash{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    overflow: scroll;
}

.site-item{
    width: 90%;
    height: 130px;
    min-height: 130px;
    margin: 25px;
    background-color: white;
    border-top: 3px solid #3875d7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    font-size: 16px;
    flex-direction: row;
    align-items: center;
}

.site-item-title{
    flex: 2;
    background-color: white;
    height: 100%;
    color: #1d2124;
    display: flex;
    justify-content: center;
    align-items: center;

}
.site-item-details{
    flex: 2;
    background-color: whitesmoke;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 20% 20% 1fr;


}

.site-item-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1d2124;
    font-size: small;
    font-weight: bolder;
}
.site-item-detail-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 50px;
    background-color: #e9ecef;
    border-top: 1px solid #545b62;
}
.site-item-detail-box-fill{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;


}
.site-item-detail-box-fill p {
    position: relative;
    top: 10%;
    color: white;
    font-weight: bolder;
    font-size: 16px;


}

.site-item-detail-cost{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.red{
    background-color: red;
}
.red-inside{
    background-color: red;
    height: 80%;
}
.green-inside{
    background-color: green;
    height: 40%;
}

.site-item-controls{
    flex: 3;
    display: grid;

    height: 100%;

    grid-template-columns: 33% 33% 1fr;
    grid-template-rows: auto auto auto;


}

.dash-button{
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    align-self: center;
    */

    height: 30px;
    background-color: whitesmoke;
    font-size: 16px;
    color: #3875d7;
    cursor: pointer;
    border-radius: 5px;
}
.site-item-control{

    margin: 10px;

    background-color: white;


}
.stop-button{
    color: red;
    border: 1px solid red;
}
.restart-button{
    color: green;
    border: 1px solid green;
}
.stop-button:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}
.restart-button:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}

#support-contact{
    width: 100px;
}

#home-link{
    font-size: 24px;

}

.menu-icons{
    margin: 0 35px;
}