/* LOGIN FORM */

body {

    background: #f8f8f8;
        padding: 0;


}

.ligne {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}
/* affichage sur mobile */
[class*="col-"] {
  width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.ligne:after{
    clear: both;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}






#header  {
    width: 100%;
    font-size: 18px;
    margin-left: 0;
    margin-right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

 #header h1 a {
    color: #fff;
}

 #content {
    padding: 20px 20px 0;
}


#content-second{
    background-color: #cc1111;
}


#container {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
}

#content-main {
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#sub-content {


    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
    width: 100%;

    margin:  auto;
    padding: 20px 20px 0;
}
#header{
    height: 50px;
    width: 28em;
    min-width: 300px;
    margin:  auto;

    background-color: #3875d7;

    color: white;
}

#login-form{
    margin: auto;

    width: 100%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
#signup-form{
    margin: auto;

    width: 100%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.form-row {
    padding: 10px;
    float: left;
    width: 95%;
    margin: auto;

    border-bottom: none;
}
.form-row1 {
    padding: 0 0 0 0 ;
    font-family: Roboto,sans-serif, monospace;
    float: inside;
    width: 100%;
    margin: auto;
    line-height: 3em;
    height: 3em;
    color: white;
    text-align: center;
    background-color: #3875d7;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}
.form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    font-weight: bold;
    clear: both;
    color: #333;
    font-family: Roboto, sans-serif, monospace;
}

.form-row #id_username,  .form-row #id_password,
.form-row #id_first_name, .form-row #id_email,
.form-row #id_password_confirm {

    clear: both;
    padding: 5px;
    font-size: 13px;
    margin: 5px 0 0 0;
    font-family: Roboto, sans-serif, monospace;
    width: 100%;
    border: 1px solid #3875d7;
    border-radius: 4px;
    height: 2.5em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

}

 span.help {
    font-size: 10px;
    display: block;
}

.submit-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Roboto, sans-serif, monospace;
    align-items: center;
    height: 8em;
    clear: both;
    padding: 1em 0 0 1em;
    margin: 0 10px 0 0;
    border: none;
    background: none;

    text-align: center;
}
#submit-btn{
    margin: 0 10px 0 0;
    height: 2em;
    width: 100%;
    font-size: 18px;
    font-family: Roboto, sans-serif, monospace;
    color: white;
    border: 1px solid #3875d7;
    border-radius: 2px;

}

input[type="submit"] {
    background-color: #4e83d0;
    color: white;
    padding: 4px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

input[type="submit"]:hover{

    background-color: #3875d7;
}

#signup-btn{
    margin: 0 15px 0 0;
    height: 2em;
    width: 100%;
    background-color: #3875d7;
    color: white;
    border: 1px solid #3875d7;
    border-radius: 2px;
}
.password-reset-link {
    text-align: center;
    height: 20px;
    color: #cc1111;
}

.error-messages {
    padding-top: 0.7em;
    text-align: center;
    color: #cc1111;

}
#formulaire {
    margin: auto;
    padding: 0 0 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

