

header {
    padding: 5px;
    background-color: #3875d7;
    color: white;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;


}
#header-block-1 {
    padding: 10px;
    flex: 1;
}

#header-block-2 {
     padding: 10px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex: 1;

}
header a {
    margin-inline-start: 20px;
    color: white;
}

#bar-lateral-haut {

    height: 50px;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#contenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    width: 100%;

}

body {

    margin: 0;
    padding: 0;
}

#num1 {
    width: 100%;
    height: 400px;
    background-color: #cc1111;
}

#col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 320px;
}

#col2 {
    color: #3875d7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 320px;
}
#ligne {
    width: 100%;


}

#image {
    height: 300px;
}

#progress{
    height: 50px;
    width: 1%;
    background-color: #3875d7;
}











