{%  extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Products{% endblock %}
{% block style %}
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="{% static 'js/progres.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/bootstrap/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/wh_static/main.css' %}"/>




{% endblock %}

{% block content %}
    <div  class="block col-5  col-s-6 ">
        <form action="{{ app_path }}" method="post" id="formulaire" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row1">
                <h6>Upload Site Data</h6>
            </div>
            <div class="error-messages">
                {% for message in messages %} {{ message }} {% endfor %}
            </div>
          <div class="form-row">
            {{ form.fichier.errors }}
            {{ form.fichier.label_tag }}
              {{ form.fichier }}
          </div>
        <input id="submit-btn" type="submit"  value="{% trans 'Upload' %}">



        </form>
        {% if uploaded_file_url %}
            <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
        {% endif %}

        <p><a href="{% url 'login' %}">Return to home</a></p>
    </div>
{% endblock %}