



#django-pricing{
    width: 100%;
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: auto auto;

    padding: 50px;
}

.django-pricing-item{
    height: 400px;
    background-color: #3875d7;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0 2px 0 0;
    margin: 5px;
    overflow: hidden;
    color: white;
    text-align: center;
    border-radius:  5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    animation-name: example;
    animation-duration: 700ms;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.django-pricing-item:hover{
    height: 400px;
    background-color: #3875d7;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0 2px 0 0;
    margin: 5px;
    overflow: hidden;
    color: white;
    text-align: center;
    border-radius:  5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    animation-name: example;
    animation-duration: 700ms;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.div-gray{
    width: 100%;
    height: 3em;
    background-color: #3875d7;
    color: #edefef;
    margin: 1px;
    border: 1px solid #edefef;
    line-height: 3em;
}
.div-white{
    width: 100%;
    height: 3em;
    background-color: #edefef;
    color: #3875d7;
    margin: 1px;
    padding-right: 1px;
    line-height: 3em;

}



@media only screen and (min-width: 600px) {
    #django-pricing{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;

    padding: 50px;
}

    .django-pricing-item{
    height: 400px;
    background-color: #3875d7;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0 2px 0 0;
    margin: 5px;
    overflow: hidden;
    color: white;
    text-align: center;
    border-radius:  5px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    animation-name: example;
    animation-duration: 700ms;
}
}

@media only screen and (min-width: 1080px) {
    #django-pricing{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 1fr;
    grid-template-rows: auto auto;

    padding: 50px;
}

    .django-pricing-item{
    height: 400px;
    background-color: #3875d7;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0 2px 0 0;
    margin: 5px;
    overflow: hidden;
    color: white;
    text-align: center;
    border-radius:  5px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    animation-name: example;
    animation-duration: 700ms;
}
}


@keyframes example {
  from {
      position: absolute;
      bottom: 0;
      height: 5px;

      background-color: white;

  }
  to {background-color: cornflowerblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
}