
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 1fr ;
    grid-template-rows: auto auto;

    padding: 50px;
}
.grid-item {
    height: 250px;
    background-color: #3875d7;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 5px;
    margin: 5px;
    overflow: auto;
    color: white;
    text-align: center;
    border-radius:  5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    animation-name: example;
    animation-duration: 700ms;

}
.grid-item:hover{
    background-color: #0062ff;
    cursor: pointer;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    elevation: higher;


}

.logo {
    border-radius: 40px;
    background-color: white;
    border: 1px solid cornflowerblue;

}





@keyframes example {
  from {
      position: absolute;
      bottom: 0%;
      height: 5px;

      background-color: white;
      color: cornflowerblue;
  }
  to {background-color: cornflowerblue;}
}