{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "hosting/login.css" %}">
    {% block style %} {% endblock %}
</head>
<body>
<p>Bienvenu</p>
<div >
        {% block content %}{% endblock %}
</div>
</body>
</html>