{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} </title>
    {% block style %} {% endblock %}
    <style>
        nav a:hover{
            color: black;
        }
        #main-link:hover{
            color: black;
            text-decoration: none;
        }
        #contenu {
            background-color: whitesmoke;
        }
        #bar-lateral-haut{
            background-color: whitesmoke;
        }

    </style>

</head>
<body style="background-color: whitesmoke;">
    <header class="navbar navbar-expand-sm">
        <div class="nav-item" id="header-block-1">
             <a id="main-link" href="{% url 'index' %}">Micehost</a>
        </div>
        <div id="header-block-2">
            <nav class="nav-item">
               <a class="nav-link" href="{% url 'products' %}">Products</a>
            </nav>

            <nav class="nav-item">
                <a class="nav-link"  href="{% url 'pricing' %}">Pricing</a>
            </nav>

            <nav class="nav-item">
                <a class="nav-link"  href="/">Blog</a>
            </nav>
            <nav class="nav-item">
               <a class="nav-link" href="/">About us</a>
            </nav>
            <nav class="nav-item">
                {% if user.is_authenticated%}
                    <a class="nav-link" href="{% url 'dashboard' %}">{{ username.capitalize }}</a>

                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}">Account</a>

                {% endif %}

            </nav>
            {% if user.is_authenticated%}
                <nav class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><i class="material-icons">logout</i></a>
                </nav>
            {% else %}
                <i  class="material-icons" style="color: #3875d7">logout</i>
            {% endif %}
            {% block logout %} {% endblock %}




        </div>

    </header>
    <div id="bar-lateral-haut">
    </div>

    <div id="contenu">

        {% block content %}{% endblock %}
    </div>

</body>
</html>