{% load static %}

<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'hosting/base_dashboard.css' %}" type="text/css">
    {% block style %} {% endblock %}
</head>

<body style="height: 100%">

<div class="content-pers">
{% block content %} {% endblock %}
</div>

</body>
</html>