{%  extends "hosting/base_dashboard.html" %}
{% load static %}
{% load i18n %}
{% block title %}Subscription{% endblock %}
{% block style %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/bootstrap/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/dashboard.css' %}"/>

{% endblock %}

{% block content %}

    <div class="box box-1">
        <div id="home-link">
            Micehost
        </div>
        <div class="dash-button" id="support-contact">
            Help
            <i class="material-icons" style="margin: 0 5px;">support_agent</i>
        </div>
    </div>
	<div class="box box-2">
        <div id="menu">
            <div class="menu-item">
                <i class="material-icons menu-icons">home</i>
                Home
            </div>
            <div class="menu-item">
                <i class="material-icons menu-icons">language</i>
                My Sites
            </div>
            <div class="menu-item">
                <i class="material-icons menu-icons">dns</i>
                My VPS
            </div>
            <div class="menu-item">
                <i class="material-icons menu-icons">construction</i>
                Website Builder
            </div><div class="menu-item">

            </div>
            <div class="menu-item">

            </div>

        </div>
        <div id="dash">
            <p style="margin-bottom: 40px">My sites</p>
            <div class="site-item">
                <div class="site-item-title">
                    example.com
                </div>
                <div class="site-item-details">
                    <div class="site-item-detail">
                        <div class="site-item-detail-box">
                            <div class="site-item-detail-box-fill red-inside">
                                <p>80 %</p>
                            </div>
                        </div>
                        Traffic
                    </div>
                    <div class="site-item-detail">
                        <div class="site-item-detail-box">
                            <div class="site-item-detail-box-fill green-inside">
                                <p>40 %</p>
                            </div>

                        </div>
                        Disk
                    </div>
                    <div class="site-item-detail">
                        <div class="site-item-detail-cost ">
                            3$  Month
                        </div>
                    </div>
                </div>

                <div class="site-item-controls">
                    <div class="dash-button site-item-control stop-button">
                        Stop
                        <i class="material-icons item-control-icon">stop</i>
                    </div>
                    <div class="dash-button site-item-control restart-button">
                        Restart
                        <i class="material-icons item-control-icon">autorenew</i>
                    </div>
                    <div class="dash-button site-item-control stop-button">
                        Delete
                        <i class="material-icons item-control-icon">delete</i>
                    </div>
                    <p>
                        Visits today<br/>1000

                    </p>
                    <p>
                        Visits this week<br/>7994

                    </p>
                    <p>
                        Visits this month<br/>35798

                    </p>
                </div>
            </div>
            <div class="site-item">

            </div>
            <div class="site-item">

            </div>
            <div class="site-item">

            </div>
            <div class="site-item">

            </div>

        </div>
    </div>


{% endblock %}