{%  extends "base.html" %}
{% load static %}
{% block title %}Accueil{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/bootstrap/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/style.css' %}"/>

{% endblock %}
{% block navoption %}

{% endblock %}
{% block logout %}



{% endblock %}
{% block content %}

    <div class="row" id="ligne">
    <div class="col-xl-6 col-md-12 col-sm-12" id="col1">
    <img id="image" src="{% static 'hosting/cloud.jpg' %} ">
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12" id="col2">
    <h2>
        Hosting and PaaS
    </h2>
        <h5>
            Hosting django apps
        </h5>
        <p>
            One click deploy your apps
        </p>
    </div>
    </div>


    <p>You have visited this page {{ num_visits }} {{ username }} {% if num_visits == 1 %} time{% else %} times{% endif %}.</p>



{% endblock %}
