{% extends "registration/base_base.html" %}

{% load i18n static %}

{% block title %}Authentication{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'hosting/login.css' %}">

{% endblock %}
{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}





<div  class="ligne col-5  col-s-6 ">

    {% if user.is_authenticated %}
<p class="errornote">
{% blocktrans trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktrans %}
</p>
{% endif %}

<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    <div class="form-row1">
        <h3>Login</h3>
    </div>
    <div class="error-messages">
        {% for message in messages %} {{ message }} {% endfor %}
    </div>
  <div class="form-row">
    {{ form.username.errors }}
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  <div class="form-row">
    {{ form.password.errors }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}">
  </div>

  <div class="submit-row ">
    <input id="submit-btn" type="submit"  value="{% trans 'Log in' %}">
      <a href="{% url 'signup' %}">{% trans 'Create new account' %}  </a>
      {% url 'password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}

</div>
</form>



{% endblock %}