{%  extends "base.html" %}
{% load static %}
{% block title %}Products{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/bootstrap/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/pricing.css' %}"/>

{% endblock %}

{% block content %}

    <h1>Django Hosting</h1>
    <div id="django-pricing">
        <div class="django-pricing-item">
            <h4>0.5 GB SSD</h4>
            <p>Hobbyist Plan</p>
            <h1>
                <span style="font-size: 22px">
                    $
                </span>
                <span style="font-size: 59px;">
                    0
                </span>
                <span style="font-size: 22px">
                    / month
                </span>
            </h1>
            <div class="div-white">
                SQLite DB
            </div>
            <div class="div-gray">
                512 MB RAM
            </div>
            <div class="div-white">
                10 Processes
            </div>
            <div class="div-gray">
                0 Mb Out / 1GB In
            </div>
            <div class="div-white">
                0 ssh user
            </div>

        </div>
        <div class="django-pricing-item">
            <h4>2 GB SSD</h4>
            <p>Beginner Plan</p>
            <h1>
                <span style="font-size: 22px">
                    $
                </span>
                <span style="font-size: 59px;">
                    4
                </span>
                <span style="font-size: 22px">
                    / month
                </span>
            </h1>
            <div class="div-white">
                SQLite / MySQL / PostgreSQL
            </div>
            <div class="div-gray">
                1 GB RAM
            </div>
            <div class="div-white">
                50 Processes
            </div>
            <div class="div-gray">
                5 Gb Out / 100GB In
            </div>
            <div class="div-white">
                1 ssh user
            </div>

        </div>
        <div class="django-pricing-item">
            <h4>5 GB SSD</h4>
            <p>Startup plan</p>
            <h1>
                <span style="font-size: 22px">
                    $
                </span>
                <span style="font-size: 59px;">
                    15
                </span>
                <span style="font-size: 22px">
                    / month
                </span>
            </h1>
            <div class="div-white">
                SQLite / MySQL / PostgreSQL
            </div>
            <div class="div-gray">
                2 GB RAM
            </div>
            <div class="div-white">
                200 Processes
            </div>
            <div class="div-gray">
                Unlimited traffic
            </div>
            <div class="div-white">
                8 ssh users
            </div>

        </div>
        <div class="django-pricing-item">
            <h4>10 GB SSD</h4>
            <p>Premium Plan</p>
            <h1>
                <span style="font-size: 22px">
                    $
                </span>
                <span style="font-size: 59px;">
                    30
                </span>
                <span style="font-size: 22px">
                    / month
                </span>
            </h1>
            <div class="div-white">
                SQLite / MySQL / PostgreSQL
            </div>
            <div class="div-gray">
                4 GB RAM
            </div>
            <div class="div-white">
                400 Processes
            </div>
            <div class="div-gray">
                Unlimited traffic
            </div>
            <div class="div-white">
                15 ssh users
            </div>

        </div>
    </div>
    <div id="hosting-pricing">

    </div>


{% endblock %}