{%  extends "base.html" %}
{% load static %}

{% block title %}Products{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/bootstrap/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/pricing_vps.css' %}"/>

{% endblock %}

{% block content %}

    <h1>VPS plans</h1>
    <div id="vps-pricing">
        {% for plan in plans %}
            <div class="vps-pricing-item" onclick="goto()">
            <h4>{{ plan.nom }}</h4>
            <p>Full Root Access</p>
            <h1>
                <span style="font-size: 22px">
                    $
                </span>
                <span style="font-size: 59px;">
                    {{ plan.price }}
                </span>
                <span style="font-size: 22px">
                    / month
                </span>
            </h1>
            <div class="div-white">
                {{ plan.disk }} GB SSD
            </div>
            <div class="div-gray">
                {{ plan.RAM }} RAM
            </div>
            <div class="div-white">
                {% if plan.CORE == 1 %}
                       {{ plan.CORE }} CPU Core

                {% else %}
                    {{ plan.CORE }} CPU Cores
                {% endif %}

            </div>
            <div class="div-gray">
                {{ plan.bandwidth }} Traffic
            </div>

            <div class="div-white">
                Unlimitted ssh users
            </div>


        </div>
        {% endfor %}
    </div>

    <div id="vps-pricing">

    </div>
    <script type="application/javascript">
        function goto(item) {
            //console.log(item)
            if (item === "s"){
                window.location.href='http://localhost:8000/'
            }
            else {
                window.location.href="http://localhost:8000/subscribe/2"
            }

        }
    </script>


{% endblock %}