{%  extends "base.html" %}
{% load static %}

{% block title %}Products{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/bootstrap/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/pricing.css' %}"/>

{% endblock %}

{% block content %}

    <h1>Web hosting plans</h1>
    <div id="hosting-pricing">
        {% for plan in plans %}
            <div class="hosting-pricing-item" onclick="subscribe('{{ plan.slug }}')">
            <h4>{{ plan.nom }}</h4>
            <p>Free SSL</p>
            <h1>
                <span style="font-size: 22px">
                    $
                </span>
                <span style="font-size: 59px;">
                    {{ plan.price }}
                </span>
                <span style="font-size: 22px">
                    / month
                </span>
            </h1>
            <div class="div-white">
                {{ plan.disk }}
            </div>
            <div class="div-gray">
                {{ plan.bandwidth }} Traffic
            </div>
            <div class="div-white">
                {% if plan.file_manager %}
                    File Manager
                {% else %}
                    No File Manager
                {% endif %}
            </div>
            <div class="div-gray">
                {% if plan.custom_domain %}
                    Your own domain
                {% else %}
                    Site at free.micehost.com/yoursite
                {% endif %}
            </div>
            <div class="div-white">
                {{ plan.db }} DB
            </div>

        </div>
        {% endfor %}
    </div>

    <div id="hosting-pricing">

    </div>
    <script type="application/javascript">
        function subscribe(item) {
            console.log(item)

            window.location.href="http://localhost:8000/subscribe/hosting/"+item+"/"


        }
    </script>


{% endblock %}