{%  extends "base.html" %}
{% load static %}
{% block title %}Products{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/bootstrap/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/products.css' %}"/>

{% endblock %}
{% block content %}
<div class="grid-container">
    {% for produit in produits %}
        <div class="grid-item" onclick="goto('{{ produit.link }}')">
            <div class="item-header">


                <img src="/media/{{ produit.photo }}"  width="50" class="logo" />
            </div>
            <div class="item-body">
                <h5>{{ produit.nom }}</h5>

                <p>{{ produit.description }}</p>


            </div>
        </div>
        <script type="application/javascript">
            function goto(item) {
                //console.log(item)
                if (item === ""){
                    window.location.href='http://localhost:8000/'
                }
                else {
                    window.location.href=item
                }

        }
        </script>
    {% endfor %}
</div>
{% endblock %}