{% extends "registration/base_base.html" %}

{% load i18n static %}

{% block title %}Authentication{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'hosting/login.css' %}">

{% endblock %}
{% block content %}

    <div  class="ligne col-5  col-s-6 ">


            <form action="{{ app_path }}" method="post" id="signup-form"> {% csrf_token %}
                <div class="form-row1">
                    <h3>Sign up</h3>
                </div>
                <div class="error-messages">
                    {% for message in messages %} {{ message }} {% endfor %}
                </div>
                {% for element in form %}
                <div class="form-row">
                    {{ element.errors }}
                    {{ element.label_tag }}
                    {{ element}}
                </div>
            {% endfor %}
                <div class="submit-row ">
                <input id="submit-btn" type="submit"  value="{% trans 'Create account' %}">
                  <a href="{% url 'login' %}">{% trans 'Already have an account ? login' %}  </a>

                </div>
            </form>

    </div>
{% endblock %}