{%  extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Subscription{% endblock %}
{% block style %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/progression.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/bootstrap/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/wh/main.css' %}"/>

{% endblock %}

{% block content %}
    <div  class="block col-5  col-s-6 ">
        {% if uploaded_file_url %}
            <p>Site being configured, go to </p>
        {% endif %}
        {% if product == "free" %}
            <form action="{{ app_path }}" method="post" id="formulaire-free" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="line-blue"></div>
            <div class="form-row1">
                <h6>Upload your website as zip</h6>
            </div>
            <div class="error-messages">
                {% for message in messages %} {{ message }} {% endfor %}
            </div>
            {% for element in form %}
                <div class="form-row-single-line free">

                    {{ element.errors }}
                    {{ element.label_tag }}
                    {{ element}}

                </div>
            {% endfor %}

            <input id="submit-btn" type="submit"  value="{% trans 'Save' %}">

        </form>
        <p id="hint">

            1) Since you are using the free plan, your website site will be hosted on https://free.micehost.com/yoursitename <br/>
            2) The zip archive should not exceed 30MB
        </p>
        {% else %}
        <form action="{{ app_path }}" method="post" id="formulaire" >
            {% csrf_token %}
            <div id="line-blue"></div>
            <div class="form-row1">
                <h6>Enter your website details</h6>
            </div>
            <div class="error-messages">
                {% for message in messages %} {{ message }} {% endfor %}
            </div>
            {% for element in form %}
                <div class="form-row-single-line">

                    {{ element.errors }}
                    {{ element.label_tag }}
                    {{ element}}

                </div>
            {% endfor %}


            <input id="submit-btn" type="submit"  value="{% trans 'Save' %}">



        </form>


        <p id="hint">

        1) Your domain should be in the form www.example.com or example.com<br/>
        2) FTP username will be required whenever you want to access your site data from your computer

        </p>
        {% endif %}
    </div>
{% endblock %}