
#formulaire {
    margin: auto;
    padding: 0 0 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.form-row {
    padding: 0;
    float: left;
    width: 95%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 2em;

    border: 1px solid #5a5a5a;
}


.form-row label {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 1em;
    line-height: 2em;
    margin: 0;

    clear: both;
    color: #333;
    font-family: Roboto, sans-serif, monospace;
}

.form-row1 {
    padding: 0 0 0 0 ;
    font-family: Roboto, sans-serif, monospace;

    width: 100%;
    margin: 0 ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2em;
    line-height: 2em;
    color: white;
    text-align: center;
    background-color: #3875d7;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}
.form-row1 h6 {
    line-height: 2em;
    margin: 0;
}

block {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


@keyframes example {
  from {
      position: absolute;
      bottom: 0;
      height: 5px;

      background-color: white;

  }
  to {
      background-color: cornflowerblue;
  }
}