<!DOCTYPE html>
<html>
<head>
<title>Welcome to Microisce!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to Microisce Hosting!</h1>
<p>Hi {{site_owner}} If you see this page, your website {{ http_host }} is successfully installed and
working. Further configuration is required.</p>

<p>For online documentation and support please refer to
<a href="http://localhost:8000/">MicroIce Homepage</a>.<br/>
Commercial support is available at
<a href="http://localhost:8000/">MicroIce</a>.</p>

<p><em>Thank you for using our platform.</em></p>
</body>
</html>
